.mainCard {
	padding: 40px;
	justify-content: space-between;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}
.someRecipes {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	margin-top: 10vh;
}
