.hamRecipeBtn {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 25%;
	margin-right: 21vw;
	margin-top: 8vh;
}
.tacosRecipeBtn {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 25%;
	margin-left: 25vw;
	margin-top: 10vh;
}
.sushiRecipeBtn {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 25%;
	margin-right: 21vw;
	margin-top: 6vh;
}

.desertRecipeBtn {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 25%;
	margin-left: 25vw;
	margin-top: 10vh;
}

.titleRecipe {
	font-size: 21px;
	font-family: 'Times New Roman', Times, serif;
	width: 50%;
}
.divForHam {
	justify-content: flex-end;
	align-items: center;
	display: flex;
	margin-top: 10vh;
}
.divForTacos {
	justify-content: flex-start;
	align-items: center;
	display: flex;
	margin-top: 5vh;
}

.divForSushi {
	justify-content: flex-end;
	align-items: center;
	display: flex;
	margin-top: 10vh;
}

.divForDesert {
	justify-content: flex-start;
	align-items: center;
	display: flex;
	margin-top: 5vh;
}
.mainImg {
	background-image: url('../../Pics/Main-Page.png');
	background-position: center;
	background-size: cover;
	width: 97vw;
	height: 150vh;
}
